@import "./global.css";

body{
    background: var(--beje);
}
h1{
    
    color: #FDFAE9;
    font-size: 1.5rem; 
    font-weight: 400;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    /* z-index: 1;  */
    padding-top: 2.5rem;
    text-transform: uppercase;
   
}

p{
    margin-top: 1rem;
    font-size: 2.7rem;
}
h2{
    font-weight: 450;

}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 5.7rem;
    background-color: #C30108;
    padding: 0 2rem;
    padding-right: 9rem; 
}
div.logo img{
    margin-top: 0.6rem;
    width: 10.14rem; 
   
}
.nav-links {
    display: flex;
    gap: 2rem;
    margin-left: auto; 
    padding-right: 10rem;
     
}

div.logo{
    display: flex;
   
}
ul, li{
    list-style: none;
}
header a{
    text-decoration: none;
    color: #FFF;
    font-size: 2.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header ul{
    display: flex;
    gap: 7rem;
}
.historia{
    color: var(--vermelho);
    justify-content: space-around;
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 20rem;
}

div.cards{
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 23rem;
    margin: 3rem;
}

.card{
    background-color: var(--vinho);
    color: var(--branco);
    width: 15.625rem;
    border-radius: 0,5rem;
    text-align: center;
}

.card img {
    width: 100%;
    height: 10rem;
    border-radius: 0,5rem;
    padding-bottom: 2rem;
}

.card p{
    font-size: 13.5px;
    text-align: justify;
    padding-inline: 1rem;
}

.not {
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 1px solid #FFF;
    width: fit-content;
    padding: 5px;
    width: 60px;
    text-align: center;
}


.video{
    color: var(--vinho);
    text-align: center;

    margin-top: 15rem;
}

.options {
    display: flex;
    gap: 2rem;
    justify-content: center;
    height: 14rem;
    margin: 3rem;
}

.option {
    text-align: center;
}

.option img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

.option p {
    margin-top: 0.5rem;
    color: var(--vinho);
    font-weight: bold;
    font-size: 21.5px;
    text-transform: uppercase;
}

.option{
    transition: .35s;
}

.options :hover > :not(hover){
    opacity: .4;
    transform: scale(0.9);
    color: var(--vermelho);
}

button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 15rem;
    height: 3rem;
    border: 1px solid var(--vinho);
    border-radius: 2rem; 
    background-color: transparent;
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 17px;
    color: var(--vinho);
    cursor: pointer;

    margin-bottom: 15rem;
}

button:hover {
    background-color: var(--vinho);
    transition: ease-in-out 0.4s;
    color: var(--branco);
}

a{
    text-decoration: none;

}